{
  "presets": [
    ["@babel/preset-react", { "modules": false }],
    ["@babel/preset-env", { "modules": false }]
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "inline-react-svg"
  ]
}
